node_modules
package-lock.json

/config/key-dev.mjs

/myrender/.next
/myrender/node_modules

/admin/.git
/admin/node_modules
/admin/public
/admin/scss
/admin/assets
/admin/src/myconfig.js

/config




